/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.green {
    -fx-background-color: green;
}

.blue {
    -fx-background-color: blue;
}

.titolo {
    -fx-font-size: 30;
}

.content {
    -fx-font-size: 18;
}