@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.ttf');
}

@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Regular.ttf');
}

.mainFxmlClass {
    -fx-font-family: "Roboto";
    -fx-text-fill: rgb(51,51,51);
    -fx-font-size: 12;
    -fx-background-image: url("../img/geometry.png");
    -fx-background-repeat: repeat;   
    -fx-background-position: center center;
}

#top-left, #top-right{
    -fx-background-color: rgb(249,250,251);
    -fx-border-color: transparent transparent rgb(204,204,204) transparent;
    -fx-border-width: 2px;
}

#left-menu {
    -fx-background-color: rgb(19,28,59);
}

.top-bar-label {
    -fx-font-size: 16;
}

.logout-button {
    -fx-font-size: 16;
    -fx-padding-right: 5px;
    -fx-text-fill: rgb(23,55,105);
}

.left-menu-label:hover, #left-logo-box:hover{
    -fx-cursor: hand;
}

#left-logo-box{
    -fx-border-color: transparent transparent rgb(23,55,105) transparent;
    -fx-border-width: 2;
    -fx-background-color: rgb(249,250,251);
}

.logout-button:hover {
    -fx-cursor: hand;
    -fx-text-fill: #448AFF;
}

/*
    LE REGOLE CHE SEGUONO SONO UN PUGNO IN UN OCCHIO
    PERO' FUNZIONANO.
*/

.left-menu-label {
    -fx-font-size: 16px;
    -fx-background-color: transparent;
    -fx-text-fill: rgb(249,250,251);
    -fx-padding: 30px 59px 30px 60px;
    -fx-font-weight: bold;
}

.left-menu-label:hover {
    -fx-background-color: rgb(23,55,105);
}

#nome-client {
    -fx-font-family: "OpenSans";
    -fx-text-fill: rgb(23,55,105);
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-padding: 0px 10px 0px 0px;
}

#spedizioni {
    -fx-padding: 30px 111px 30px 60px;
}

#inventario {
    -fx-padding: 30px 112px 30px 60px;
}

.titolo {
    -fx-font-size: 24;
}

.notifica-spedizione, .notifica-inventario {
    -fx-font-size: 14;
}
