.background{
    -fx-background-color: #F5F5F5;
}

#login-button:hover {
    -fx-cursor: hand;
    -fx-background-color: #29B6F6;
}

#login-button {
    -fx-text-fill: #212121;
    -fx-background-color: #03A9F4;
    -fx-font-size: 16px;
    -fx-focus-color: transparent;    
}

#email, #password {
    -fx-focus-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color: #03A9F4;
}

#email:hover, #password:hover {
    -fx-border-color: #81D4FA;
}
