@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.ttf');
}

.mainFxmlClass{
    -fx-font-family: "Roboto";
    -fx-font-size: 12px;
    -fx-background-image: url("../img/geometry.png");
    -fx-background-repeat: repeat;   
    -fx-background-position: center center;
}

#login-button:hover {
    -fx-cursor: hand;
    -fx-background-color: rgb(19,28,59);
}

#login-button {
    -fx-text-fill: #EEEEEE;
    -fx-background-color: rgb(23,55,105);
    -fx-font-size: 16px;
    -fx-focus-color: transparent;  
}

#email, #password {
    -fx-focus-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color: rgb(23,55,105);
}

#email:hover, #password:hover, #email:focused, #password:focused {
    -fx-border-color: rgb(19,28,59);
    -fx-background-color: #EEEEEE;
}

#error-message {
    -fx-text-fill: rgb(239,82,98);
}